<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563354060394-6kihs9d1tucud4au1bckhco3pus21nn5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563354060394-6kihs9d1tucud4au1bckhco3pus21nn5</string>
	<key>API_KEY</key>
	<string>AIzaSyArnV3gnKed_QPKYjWv47Iol899-xuyByw</string>
	<key>GCM_SENDER_ID</key>
	<string>563354060394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rose-hulman.tuey.Photo-Bucket</string>
	<key>PROJECT_ID</key>
	<string>photobucket-20f92</string>
	<key>STORAGE_BUCKET</key>
	<string>photobucket-20f92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563354060394:ios:8bd9c1df52965fd0ab6c13</string>
</dict>
</plist>